body {
    background-color: #DFE2DB;
    font-family: 'Oxygen', sans-serif;
}

.btn {
    font-family: 'Merriweather', serif;!important;
    margin-bottom: 1.5rem;
    transition: all 0.5s ease 0s;
    border-radius: 15px;
}

h1 {
    color: black;
    margin-top: 2rem;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    font-family: 'Lato', sans-serif; !important;
}

.row {
    margin: 0.5rem 0 0.5rem 0;
}
